@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300&display=swap');

.center {
    text-align:center;
}

.basic {
    margin-left: 20px;
    margin-right: 20px;
    color: white; 
    font-family: 'Open Sans', sans-serif;
}

.main{
    margin-top:50px;
    margin-bottom: 50px;
}

.dcr {
    font-style: italic;
    font-size: small;
}

body {
    background-color: rgb(15, 15, 15);
}

footer {
    text-align: center;
}

.btn {
    position: relative;
  
    display: flex;
    margin: 30px auto;
    align-items:center;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    
    transition: background-color .3s;

    padding: 12px 24px;

    text-align: center;
}

.btn > * {
    position: relative;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;
        
    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn:hover, .btn:focus {
    cursor: pointer;
}

.btn a {
    display: block;
    padding-left: 10px;
}

.btn img {
    width: 15px;
    height: 15px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img {
    width: 40%;
}

.sliding-middle-out {
    text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  color: white;
}

.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after {
  width: 100%;
  background: -webkit-linear-gradient(#fa5521, #5128a5);
}

.twitterButton {
    background-color: #1ca0ee;
}

.twitterButton:hover, .twitterButton:focus {
    background-color: #1888c8;
}

.githubButton {
    background-color: #1b1e23;
}

.githubButton:hover, .githubButton:focus {
    background-color: #101114;
}

.changelogButton {
    background-color: #a239ca;
}

.changelogButton:hover, .changelogButton:focus {
    background-color: #7f2ea0;
}

.supportButton {
    background-color: #4717f6;
}

.supportButton:hover, .supportButton:focus {
    background-color: #3712bd;
}