body {
    background-color: #080A17;
    margin: 0;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
    font-family: acumin-pro,sans-serif;
    font-size: 1.100rem;
    line-height: 1.5;
}

header { 
    padding: 0 15px;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #080A17;
    grid-area: header;
    display: flex;
    align-items: center;
}

main { 
    margin: 0 auto;
    max-width: 800px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    grid-area: main;
}

footer { 
    margin: 0 auto;
    height: 100px;
    grid-area: footer;
    text-align: center;
}

ul[id="sidenavul"], header nav ul {
    list-style: none;
}

header a {
    height: 32px;
}

header nav ul {
    display: flex;
    padding: 0;
    text-align: center;   
}

div[id="social"] a {
    margin: 30px;
    display: inline-block;
    margin: 0 15px;
}

section[id="404"] {
    text-align: center;
    margin: 10%;
}

header nav ul a {
    text-decoration: none;
    padding: 0 5px;
    font-size: 0.90rem;
}

a {
    color: white;
}

a:hover {
    color: #b3b3b3;
}

.box {
    margin-right: 30px;
    clear: left;
    width: 300px;
    height: 170px;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 5px 0 rgba(255, 255, 255, 0.19);
    border-radius: 15px;
}

#title {
    visibility: collapse;
    margin-left: 1em;
}

#sidenav {
    visibility: collapse;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 100%;
    background-color: #080A17;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.5);
}

#sidenavItems {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navButtonClose {
    visibility: collapse;
    position: absolute;
    top: 20px;
    right: 20px;
}

#navButtonOpen {
    visibility: visible;
    position: absolute;
    right: 40px;
}

h3, h2 {
    padding-top: 25px;
    clear: left;
}

.nav-menu {
    visibility: collapse;
    position: absolute;
    right: 40px;
}

.banner {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

button {
    padding: 10px;
    margin: 1%;
    margin-top: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #080A17;
    color: white;
    border-radius: 50px;
    border: white solid 2px;
}

button:hover {
    background-color: #1e2349;
}

button a:hover {
    color: white;
}

.icon {
    height: 24px;
    width: 24px;
    padding-right: 5px;
}

@media (min-width: 50em) {
    body {
        grid: 
            'header header' 50px 
            'main main' auto
            'footer footer' auto
        / 1fr;
    }

    #navButtonClose, #navButtonOpen {
        visibility: collapse;
    }

    .nav-menu {
        visibility: visible;
    }

    header {
        height: 50px;
    }
}

@media (min-width: 70em) {
    #title {
        visibility: visible;
    }

    .box {
        float: left;
    }
}
  